.container {
  border: 1px solid var(--gray-20);
  width: 60vw;
  height: 70vh;
  max-height: 670px;
  padding: 4rem 2rem 2rem 2rem;
  max-width: 830px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 50px repeat(6, 1fr);
  grid-row-gap: 0.75rem;
  grid-column-gap: 0.75rem;
}

.gridFirstRow {
  border-bottom: 1px solid;
}
