.container {
  border: 1px solid var(--gray-20);
  width: 100px;
  height: 100px;
  max-height: 670px;
  padding: 1.5rem;
  min-width: 100%;
  min-height: 100%;
  /* display: grid; */
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-row-gap: 0.75rem;
  grid-column-gap: 0.75rem;
  text-align: center;
}
