.container {
  width: 100%;
  height: 100%;
}

.eventCell {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.eventBtn {
  cursor: pointer;
  border: none;
}

.eventListBtn {
  cursor: pointer;
  border: none;
}
